.player1Area,
.player2Area {
  display: flex;
  flex-direction: column;
  height: 100vh;

  border: 2px solid black;
  justify-content: center;
  align-items: center;

  /* align-items: flex-start; */
}
/* .player2Area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  align-items: center;

  border: 2px solid black;
} */

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cards1 {
  width: 250px;
  display: flex;
  /* width: 100%; */
  max-height: 100%;
  overflow-x: scroll; /* add horizontal scroll bar */
  white-space: nowrap;
}
.cards2 {
  display: flex;
  align-items: flex-end;
  /* width: 100%; */
  width: 250px;
  max-height: 100%;
  overflow-x: scroll; /* add horizontal scroll bar */
  white-space: nowrap;
}

.name1,
.name2 {
  font-size: 23px;
  font-weight: 595;
  border: 2px solid black;
  border-radius: 10px;
  background-color: purple;
  box-shadow: inset 0 5px 20px 5px rgba(255, 97, 208, 0.7);
  color: white;
  padding: 5px;
  margin: 10px;
}
